body {
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 4px lightgray;
}

header img {
  margin-top: 15px;
  height: 50px;
  padding-left: 40px;
}

.login{
  float: right;
  margin-top: 50px;
  margin-right: 20px;
  font-size: 14px;
}

main {
  clear: left;
  width: 100%;
}

form {
  margin: 40px auto;
  border: 2px solid lightgray;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 4px lightgray;
}
.form_contents{
  margin:30px 25px;
}

h2 {
  text-align: center;
  border-bottom: 1px #31A263 solid;
  font-size: 20px;
}
label {
  display: inline-block;
  font-size: 13px;
}

.required {
  display: inline-block;
  margin-right: 5px; 
  background-color: #31A263; 
  color: white;
  border-radius:2px;
  box-shadow: 1px 2px 2px #ddd; 
  font-size:13px;	
  text-align: center;
  padding: 1px;
}

.name, .mail, .password, .picture, .comments{
  text-align: left;
  margin: 25px;
}


.formbox {
  border: 1px solid #dfdfdf;
  padding: 5px;
  margin: 5px auto;
  color: #999;
  background: #fff;
}

.register {
  text-align: center;
}

.enter {
  background-color: #31A263;
  color: white;
  border-radius:2px; 
  padding: 6px 60px 4px 60px;
  margin-bottom: 5px; 
  border:1px solid lightgray; 
  border-bottom: 2px solid gray;
  width: 200px;
}


footer {
  text-align: center;
  border-top: 2px lightgray solid;
  color: gray;
  background-color: white;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  width: 100%;
}


.confirm {
  padding: 20px 40px;
  line-height: 36px;
}

.confirm_form{
  text-align: center;
}

.confirm_form form{
  display: inline;
  padding-top: 0px;
 }

 footer {
   clear: both;
 }
 
 .after_register {
   text-align: center;
   padding: 20px;
   padding-bottom: 150px;
   margin: 20px;
 }

.after_register_footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 20px;
}